//Add Color Palette
$white      		: #FFFFFF;	
$black				: #000000;
$grey				: #8F8F8F;
$green				: #819A2D;
$greentint  		: #279182;
$yellow     		: #EEC856;
$yellowtint			: #E4D29D;
$yellowtintdark		: #CDAE50;
$yellowlight		: #EEF08A;
$red        		: #E15D5F;
$brown				: #6F4E36;
$bluetint			: #586D74;

